h1.cityName {
    font-size: 2.5em;
    margin-bottom: 0;
    margin-top: .5em;
}

body, html {
    height: 100vh;
}

body {
    background-color: lightgrey;
}

label.searchLabel {
    color: black;
    font-size: 1.5em;
}

div.row > div.currentDisplay {
    background-color: white;
    padding: 1em 1em 1em 2em;
    margin-top: 1em;
    margin-right: 1em;
}

h2 {
    font-size: 1.5em;
}

span {
    margin-right: .5em;
}

p.date p.boxDate{
    font-size: 1.5em;
}


nav > div.nav-wrapper {
    background-color: black; 
}

body > div.container {
    margin-top: 2em;
}

div.input-field {
    margin-top: 2em;
}

div.row > div.sideNav.col {
    color: black;
}

div.row > div.currentDisplay.col {
    color: black;
}

div.row > div.fiveDisplay.col {
    color: black;
}


div.row.main {
    margin-top: 2em;
    min-height: 40em;
    background-color: white;
    width: 90vw;
    border-radius: .5em;
}

.dayBox {
    margin-top: .5em;
    margin-right: .5em;
    background-color: #EEDAFA;
    border-radius: .25em;
}

.recentList {
    background-color: #B28EC9;
    padding: .25em;
    margin-bottom: .25em;
    border-radius: .25em;
}